.building {
    position: relative;

    display: flex;
    flex-direction: column;
    background: #EDF3F8;
    height: 90vh;
    &::after {
        content: "";
        position: absolute;

        background: url(/img/iphoneX.png) no-repeat;
        background-size: 100% 100%;

        width: 350px;
        height: 85vh;

        right: 0;
        top: 0px;
        right: 150px;
        z-index: 2;
    }
    &__text {
        align-items: center;
        width: 100%;
        &__title {
            font-family: 'DM Serif Display',serif;
            font-style: normal;
            font-weight: normal;
            font-size: 72px;
            line-height: 72px;
            
            letter-spacing: -0.553846px;
    
            color: #36536B;
            width: 550px;
            padding-top: 100px;
        }
        &__form {
            padding-top: 40px;
    
            position: relative;
            & > a {
                position: absolute;

                top: 40px;
                left: 250px;
            }
            &__input {
                border: none;   
                border-radius: 24px;
                background: #FBFCFE;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    
                height: 42px;
                width: 350px;
                &::placeholder {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    
                    color: #36536B;
    
                    padding: 0 20px;
                    
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }
            }
        }
        &__desctiption {
            padding-top: 15px;
    
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            
            color: #6C8294;     
        }
    }
}

@media screen and (max-width: 870px) {
    .building {
        display: flex;
        flex-direction: column-reverse;

        &::after {
            content: "";
            position: absolute;
    
            background: url(/img/iphoneX.png) no-repeat;
            background-size: 100% 100%;
    
            width: 300px;
            height: 60vh;
    
            left: 310px;
            top: -10px;
            z-index: 2;
        }
        &__text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__title {
                text-align: center;
                align-items: center;

                font-size: 48px;
                line-height: 56px;
                width: 500px;
            }
            &__form {
                width: 100%;
                display: flex;
                justify-content: center;
                & > a {
                    position: absolute;
                    left: 450px;
                }
            }
            &__desctiption {
                padding-bottom: 50px;
            }
        }
    }
}

@media screen and (max-width: 485px) {
    .building {
        height: 100vh;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
    
            background: url(/img/iphoneX.png) no-repeat;
            background-size: 100% 100%;
    
            width: 250px;
            height: 50vh;
    
            left: 130px;
            top: -10px;
            z-index: 2;
        }
        &__text {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            &__title {
                align-items: center;
                font-size: 32px;
                line-height: 36px;

                width: 400px;
                padding: 0 60px;
            }
            &__form {
                &__input {
                    width: 100%;
                    height: 50px;
                }
                & > a {
                    width: inherit;
                    height: 50px;
                    left: 0;
                    top: 110px;
                }
            }
            &__desctiption {
                padding-top: 80px;
                padding-bottom: 80px;
            }
        }
    }
}